@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}


<div class="row">
    <!--Panel-->
    @*<div class="card card-plain">
        <div class="card-header card-no-header deep-orange lighten-1 white-text">
            Featured
        </div>
        <div class="card-body card-no-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs nav-short nav-justified">
                        <li class="nav-item">
                            <a class="nav-link nav-link-short active" data-toggle="tab" href="#panel1" role="tab">
                                <i class="fa fa-comments-o"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <span class="nav-body-text">Community</span>
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Announcements
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Car Pool - Bike Ride
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Charity - Donate - NGO
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                        <!--/.Panel 1-->
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="nav nav-tabs nav-short nav-justified">
                        <li class="nav-item">
                            <a class="nav-link nav-link-short active" data-toggle="tab" href="#panel1" role="tab">
                                <i class="fa fa-comments-o"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <span class="nav-body-text">Electronics</span>
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                        <!--/.Panel 1-->
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="nav nav-tabs nav-short nav-justified">
                        <li class="nav-item">
                            <a class="nav-link nav-link-short active" data-toggle="tab" href="#panel1" role="tab">
                                <i class="fa fa-comments-o"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <span class="nav-body-text">Services</span>
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                        <!--/.Panel 1-->
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="nav nav-tabs nav-short nav-justified">
                        <li class="nav-item">
                            <a class="nav-link nav-link-short active" data-toggle="tab" href="#panel1" role="tab">
                                <i class="fa fa-comments-o"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <span class="nav-body-text">Shopping</span>
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                        <!--/.Panel 1-->
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
<!--/.Panel-->
