
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_themeLayout.cshtml";
}

<script src="~/Areas/Admin/scripts/CategoryScript.js"></script>

<div class="row">
    <!-- First column -->
    <div class="col-4">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
        </div>
    </div>
    <!-- First column -->
    <!-- Second column -->
    <div class="col-8">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">asagfafdfgsdfgsdfg</div>
            <div class="tab-pane" id="profile" role="tabpanel">qwerqwerqwerqwe</div>
            <div class="tab-pane" id="messages" role="tabpanel">zcxvbxzxvcvxbxcvbxcvb</div>
            <div class="tab-pane" id="settings" role="tabpanel">1254154435234</div>
        </div>
    </div>
    <!-- Second column -->
</div>

