<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="e_commDb" connectionString="data source=(LocalDb)\v11.0;initial catalog=E_Comm_DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>