
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/materailize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="blue accent-4">
    <div>
        <div class="row">
            <div class="col s4 offset-m4">
                <div class="card grey lighten-5" style="top: 30px;">
                    <div class="card-content  black-text">
                        <span class="card-title center-align"><b>E</b>-<b>C</b>ommerce <b>L</b>ogin</span>
                        <div class="row">
                            <form class="login-form">
                                <div class="row">
                                    <div class="input-field">
                                        <input id="comm_email" name="comm_email" type="text" class="validate">
                                        <label for="comm_email">User Name or Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <input id="comm_password" name="comm_password" type="password" class="validate">
                                        <label for="comm_password">Password</label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="switch row">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">
                                        Submit
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s6 left-align">
                                <a href="#">Forget Password</a>
                            </div>
                            <div class="col s6 right-align">
                                <a href="#">Create Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts  -->
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/materailize/js/materialize.min.js"></script>
    <script src="~/Scripts/CommonScript/commAPIService.js"></script>
    <script src="~/Scripts/GenericScript/GenericScript.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>>
    <script src="~/Scripts/additional-methods.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".login-form").validate({
                rules: {
                    "comm_password": {
                        required: true,
                        minlength: 5
                    },
                    "comm_email": {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    "comm_password": {
                        required: "Please, enter a valid password"
                    },
                    "comm_email": {
                        required: "Please, enter an valid email",
                        email: "Email is invalid"
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) { // for demo
                    validateLogin();
                }
            });
        })

        function validateLogin() {
            try {
                if ($("#comm_email").val() && $("#comm_password").val()) {
                    var _log = {};
                    _log.Email = $("#comm_email").val();
                    _log.Password = $("#comm_password").val();

                    var url = "/Login/loginAccess";

                    Common.Ajax('POST', url, { _log }, 'json', function (res) {
                        if (res && res.redirectionURL) {
                            log_info = res.loginfo;
                            sessionStorage("logInfo", log_info, 'set');
                            location.href = res.redirectionURL;
                        }
                        else {
                            alert("Invalid login")
                        }
                    });
                }
                else {
                    alert("Invalid login")
                }
            } catch (e) {
                console.log("Login|LOGIN_VALIDATION :", e);
            }
        }

    </script>
    <!-- Scripts END -->
</body>
</html>
