
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <div class="card p-2 mb-5">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-3 col-md-12">

                    <!--Name-->
                    <div class="select-wrapper mdb-select colorful-select dropdown-primary mx-2">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-e1f3701d-d064-45e5-b15c-84f08b5e6b5d" value="Bulk actions"><ul id="select-options-e1f3701d-d064-45e5-b15c-84f08b5e6b5d" class="dropdown-content select-dropdown "><li class="disabled "><span class="filtrable">Bulk actions</span></li><li class=""><span class="filtrable">Delate</span></li><li class=""><span class="filtrable">Export</span></li><li class=""><span class="filtrable">Change segment</span></li></ul><select class="mdb-select colorful-select dropdown-primary mx-2 initialized">
                            <option value="" disabled="" selected="">Bulk actions</option>
                            <option value="1">Delate</option>
                            <option value="2">Export</option>
                            <option value="3">Change segment</option>
                        </select>
                    </div>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6">

                    <!--Blue select-->
                    <div class="select-wrapper mdb-select colorful-select dropdown-primary mx-2">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-95b3bfe9-864b-464f-a697-68e5419a069f" value="Show only"><ul id="select-options-95b3bfe9-864b-464f-a697-68e5419a069f" class="dropdown-content select-dropdown ">
                            <li class="disabled "><span class="filtrable">Show only</span></li>
                            <li class="">
                                <span class="filtrable">
                                    All
                                    (2000)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Never opened
                                    (200)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Opened but unanswered
                                    (1800)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Answered
                                    (200)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Unsunscribed
                                    (50)
                                </span>
                            </li>
                        </ul><select class="mdb-select colorful-select dropdown-primary mx-2 initialized">
                            <option value="" disabled="" selected="">Show only</option>
                            <option value="1">
                                All
                                (2000)
                            </option>
                            <option value="2">
                                Never opened
                                (200)
                            </option>
                            <option value="3">
                                Opened but unanswered
                                (1800)
                            </option>
                            <option value="4">
                                Answered
                                (200)
                            </option>
                            <option value="5">
                                Unsunscribed
                                (50)
                            </option>
                        </select>
                    </div>
                    <!--/Blue select-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6">

                    <!--Blue select-->
                    <div class="select-wrapper mdb-select colorful-select dropdown-primary mx-2">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-b01dbdac-d0d3-4ae6-a4e2-d1816b700c17" value="Filter segments"><ul id="select-options-b01dbdac-d0d3-4ae6-a4e2-d1816b700c17" class="dropdown-content select-dropdown" style="width: 253.841px; position: absolute; top: 0px; left: 0px; opacity: 1; display: none;">
                            <li class="disabled"><span class="filtrable">Filter segments</span></li>
                            <li class="">
                                <span class="filtrable">
                                    Contacts in no segments
                                    (100)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Segment 1
                                    (2000)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Segment 2
                                    (1000)
                                </span>
                            </li>
                            <li class="">
                                <span class="filtrable">
                                    Segment 3
                                    (4000)
                                </span>
                            </li>
                        </ul><select class="mdb-select colorful-select dropdown-primary mx-2 initialized">
                            <option value="" disabled="" selected="">Filter segments</option>
                            <option value="1">
                                Contacts in no segments
                                (100)
                            </option>
                            <option value="1">
                                Segment 1
                                (2000)
                            </option>
                            <option value="2">
                                Segment 2
                                (1000)
                            </option>
                            <option value="3">
                                Segment 3
                                (4000)
                            </option>
                        </select>
                    </div>
                    <!--/Blue select-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6">

                    <form class="form-inline mt-2 ml-2">
                        <input class="form-control my-0 py-0" type="text" placeholder="Search" style="max-width: 150px;">
                        <button class="btn btn-sm btn-info ml-2 px-2 waves-effect waves-light">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </div>
</body>
</html>
